*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  letter-spacing: .2rem;
}

$color-bgc: #3582F0;
$color-bgc-card: white;
$color-correct: #49FF17;
$color-wrong: #E03220;
$default-font-size: 1.6rem;


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color-bgc, 1);
}

.container {
    display: flex;
    padding: 2rem;
    width: 90rem;
    // max-width: 80%;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.5rem;
    align-items: center;
    background-color: rgba($color-bgc-card, 1);
}

.question {
    text-align: center;
    padding: 1.5rem 2rem;
    font-size: 3rem;
    font-weight: 700;
}

.question-container {
    width:  100%;
}

.btn {

    border: .2rem solid #1E3754;
    border-radius: 1rem;
    background-color: rgba(#ffff33, .9);
    margin: .5rem 1rem;
    font-size: 3rem;
    color: black;

    overflow: hidden;
    font-size: 2rem;
}

.anwser {
    display: block;
    color: inherit;
    font-size: inherit;
    width: 100%;
    height: 100%;
    padding: 1rem 5rem;
}

.btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2rem 1rem;
}

.hide {
    display: none;
}

.correct {
    background-color: $color-correct;
}
.wrong {
    background-color: $color-wrong;
}


.controls {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.controls__start-button {
    margin: 1.5rem 10rem;
    padding: 1rem 5rem;
    font-size: 4rem;
}

.controls__next-button {
    padding: 1rem 5rem;
}

.controls__start-button:focus, .btn:focus {
    outline: none;
}

.controls__start-button:hover, .btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 27px 96px -21px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 27px 96px -21px rgba(0,0,0,0.43);
    box-shadow: 0px 27px 96px -21px rgba(0,0,0,0.43);
}

.score {
position: absolute;
right: 0;
bottom: 0;


    &__text {
        font-size: 3rem;
    }

    &__value {
        font-size: 3rem;
    }
}
