*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  letter-spacing: .2rem;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3582f0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  width: 90rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.question {
  text-align: center;
  padding: 1.5rem 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.question-container {
  width: 100%;
  margin-bottom: 5rem;
}

.btn {
  border: .2rem solid #1E3754;
  border-radius: 1rem;
  background-color: rgba(255, 255, 51, 0.9);
  margin: .5rem 1rem;
  font-size: 3rem;
  color: black;
  overflow: hidden;
  font-size: 2rem;
}

.anwser {
  display: block;
  color: inherit;
  font-size: inherit;
  width: 100%;
  height: 100%;
  padding: 1rem 5rem;
}

.selected {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.btn-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 2rem 1rem;
}

.hide {
  display: none;
}

.correct {
  background-color: #49FF17;
}

.wrong {
  background-color: #E03220;
}

.controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.controls__start-button {
  margin: 1.5rem 10rem;
  padding: 1rem 5rem;
  font-size: 4rem;
}

.controls__next-button {
  padding: 1rem 5rem;
}

.controls__start-button:focus, .btn:focus {
  outline: none;
}

.controls__start-button:hover, .btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 27px 96px -21px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 27px 96px -21px rgba(0, 0, 0, 0.43);
}

.score {
  position: absolute;
  right: 0;
  bottom: 0;
}

.score__text {
  margin-right: 2rem;
  font-size: 3rem;
}

.score__value {
  position: relative;
  margin: 0 1rem 0 2rem;
  font-size: 3rem;
}

.score__update {
  opacity: 0;
  font-size: 3rem;
  position: absolute;
  top: -4rem;
  left: -2rem;
}

.checked {
  -webkit-animation: moveButton 1s infinite;
          animation: moveButton 1s infinite;
}

.update {
  -webkit-animation: updatePoints 1s linear;
          animation: updatePoints 1s linear;
}

@-webkit-keyframes moveButton {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    background-color: gray;
    color: white;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes moveButton {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    background-color: gray;
    color: white;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes updatePoints {
  0% {
    opacity: 1;
  }
  90% {
    top: 0rem;
  }
  100% {
    opacity: 0;
    outline: none;
  }
}

@keyframes updatePoints {
  0% {
    opacity: 1;
  }
  90% {
    top: 0rem;
  }
  100% {
    opacity: 0;
    outline: none;
  }
}
/*# sourceMappingURL=style.css.map */